project_name      = "devops-portfolio"
aws_region        = "us-east-1"
instance_type     = "t2.micro"
key_pair_name     = "your-existing-aws-keypair-name"
allowed_ssh_cidr  = "YOUR_PUBLIC_IP/32"
allowed_app_cidr  = "0.0.0.0/0"
